<div class="card card-body shadow col-lg-12">
	          
               <div class="manpower-project-repeat-wrapper">
			     <div class="man-power-project-name">
				    <h3>Project Name: Project 1</h3>
					<span>Job Open: 09:AM</span>
				 </div>
				  <div class="project-sift-inner-repeat">
		          <div class="power-row-repeat manpower-table-heading-row">
				     
				     <div class="step-one two rw"><strong>worker Name</strong></div>		
				     <div class="step-one two rw"><strong>No. Of worker</strong></div>
				     <div class="step-one four"><strong>work type</strong></div>
				     <div class="step-one four"><strong>Notes</strong></div>
				     
				   </div>
				   
				   
					<div class="power-row-repeat">
						<div class="step-one two rw">Mechanic</div>		
						<div class="step-one two rw">2</div>
						<div class="step-one four">Building</div>
						<div class="step-one four">Lorem Ipsum is simply dummy</div>
						</div>
												 <div class="power-row-repeat">
					<div class="step-one two rw">Mechanic</div>		
						 <div class="step-one two rw">2</div>
						 <div class="step-one four">Building</div>
						 <div class="step-one four">Lorem Ipsum is simply dummy</div>
					</div>
					</div>
					
				<div class="project-sift-inner-repeat project-sift-2-wrap">
				  <h4 class="project-sift-2">Sift 2</h4>
		          <div class="power-row-repeat manpower-table-heading-row">
				     
				     <div class="step-one two rw"><strong>worker Name</strong></div>		
				     <div class="step-one two rw"><strong>No. Of worker</strong></div>
				     <div class="step-one four"><strong>work type</strong></div>
				     <div class="step-one four"><strong>Notes</strong></div>
				     
				   </div>
				   
				   
					<div class="power-row-repeat">
						<div class="step-one two rw">Mechanic</div>		
						<div class="step-one two rw">2</div>
						<div class="step-one four">Building</div>
						<div class="step-one four">Lorem Ipsum is simply dummy</div>
						</div>
												 <div class="power-row-repeat">
					<div class="step-one two rw">Mechanic</div>		
						 <div class="step-one two rw">2</div>
						 <div class="step-one four">Building</div>
						 <div class="step-one four">Lorem Ipsum is simply dummy</div>
					</div>
					</div>
				    
		 </div>
	</div>	

	<div class="card card-body shadow col-lg-12">	
		 <div class="manpower-project-repeat-wrapper">
			     <div class="man-power-project-name">
				    <h3>Project Name: Project 2</h3>
					<span>Job Open: 10:AM</span>
				 </div>
				  <div class="project-sift-inner-repeat">
		          <div class="power-row-repeat manpower-table-heading-row">
				     
				     <div class="step-one two rw"><strong>worker Name</strong></div>		
				     <div class="step-one two rw"><strong>No. Of worker</strong></div>
				     <div class="step-one four"><strong>work type</strong></div>
				     <div class="step-one four"><strong>Notes</strong></div>
				     
				   </div>
				   
				   
					<div class="power-row-repeat">
						<div class="step-one two rw">Mechanic</div>		
						<div class="step-one two rw">2</div>
						<div class="step-one four">Building</div>
						<div class="step-one four">Lorem Ipsum is simply dummy</div>
						</div>
												 <div class="power-row-repeat">
					<div class="step-one two rw">Mechanic</div>		
						 <div class="step-one two rw">2</div>
						 <div class="step-one four">Building</div>
						 <div class="step-one four">Lorem Ipsum is simply dummy</div>
					</div>
					</div>
					
				<div class="project-sift-inner-repeat project-sift-2-wrap">
				  <h4 class="project-sift-2">Sift 2</h4>
		          <div class="power-row-repeat manpower-table-heading-row">
				     
				     <div class="step-one two rw"><strong>worker Name</strong></div>		
				     <div class="step-one two rw"><strong>No. Of worker</strong></div>
				     <div class="step-one four"><strong>work type</strong></div>
				     <div class="step-one four"><strong>Notes</strong></div>
				     
				   </div>
				   
				   
					<div class="power-row-repeat">
						<div class="step-one two rw">Mechanic</div>		
						<div class="step-one two rw">2</div>
						<div class="step-one four">Building</div>
						<div class="step-one four">Lorem Ipsum is simply dummy</div>
						</div>
												 <div class="power-row-repeat">
					<div class="step-one two rw">Mechanic</div>		
						 <div class="step-one two rw">2</div>
						 <div class="step-one four">Building</div>
						 <div class="step-one four">Lorem Ipsum is simply dummy</div>
					</div>
					</div>
				    
		 </div>
		</div> 