img{
  max-width:100% !important;   
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    top: 35%;
   bottom:auto;
}
#datatable_wrapper {
    overflow-x: auto;
}

.bg-gradient-primary {
    background-color: #0072e4 !important;
    /*background: -webkit-linear-gradient(to right, #4b92e6, #01397b);
    background: linear-gradient(to right, #4b92e6, #01397b);*/
}

body.bg-gradient-primary{
 background:#f2f2f2 !important;   
}
.bg-gradient-primary.sidebar.sidebar-dark{
 background-color:#103459 !important; 
}
.sidebar-dark .sidebar-divider{
 display:none; 
}
.login_holder_wrapper .text-gray-900{
color: #3a3b45!important;
font-size:27px;
font-weight: bold;
}
.login_holder_wrapper p.mb-4 {
    font-size: 13px;
}
.login_holder_wrapper .small{
     text-decoration: underline;
    color: #000;
    font-size: 15px;   
}
.toast-top-right {
    top: 75px;
    
}
.punch-input {
    border: 2px solid #ccc;
    text-align: center;
    width: 100px;
}
p.error_message {
    
    color: #ff0000;
    
    font-size: 13px;
    
    margin: 3px 0 4px 3px;
    
    line-height: 17px;
}
body.sidebar-toggled footer.sticky-footer {
    
    width: 100%
}
textarea{
    resize:none;     
}
.sidebar.toggled .sidebar-brand img{
    width:92px;     
}
tr.focused_row td {
    background: #e7fbe9;
}
input.form-control, select.form-control, textarea.form-control{
    border-radius: 5px !important;
    border: 1px solid #ddd;
    font-size: 13px;
    padding: 10px;
    height: 44px;
}

input[type="file"]{
 overflow:hidden;	
}
h6.m-0.font-weight-bold.text-primary.excel-file-data-heading{
    display: flex;
    align-items: center;	
}

.excel-file-data-heading .info-text-wrap{
    margin: 0 10px;
    color: #0008ff;
    position:relative;
    top:1px;	
}
.input-group-text {
    border-radius: 0px;
}
nav .input.form-control{
    border-radius:5px;     
}
table tr th{
    width:auto !important;     
}
table.table tr td:last-child, table.table tr th:last-child{
width:130px !important;
vertical-align:middle;
text-align:center;   
}
table tr td:last-child{
padding:0px;     
}
.bootstrap-datetimepicker-widget table th:last-child {
 font-size:15px !important; 
}
button.btn.dropdown-toggle.btn-light {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    background: #fff;
}
.login_form_row_wrap {
    align-items: center;
    width: 100%;
}
a.btn-filter-reset, a.btn-filter-reset:hover{
    background:#0072e4;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
}
.dropdown-item.active, .dropdown-item:active {
    
    background-color: #0072e4;
}
.btn-primary {
    
    background-color: #0072e4;
    
    border-color: #0072e4;
}
.table {
    display: table !important;
}
.table thead th {
    color: #222;
    background: #f2f2f2 !important;
    border: 0px;
    padding:12px 11px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.table-action {
display: flex;
    justify-content: center;
    align-items: center;
    background:unset;
    position: relative;
    right: 0;
    height: 47px;
    padding: 14px 0;
    border-radius: 0;
    width: 0px;
    float: right;
    overflow: hidden;
    transition: 0.5s;
}
.table-action .btn.btn-sm.btn-primary.btn-circle{
 background:none !important; 
}
.table-action .btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    background:none; 
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0px;
    background: none !important;
    border: 0px;
    color: #565555;
    padding: 0 5px;
    width: auto !important;
}
.table-action .btn-action-delete{
 color:#ff0000; 
}
.table-action .btn-circle:focus{
color:unset !important;
border:unset !important;
outline:unset !important;
box-shadow:unset !important;        
}
.table-action a {
    margin: 0px 3px;
    
}
.table tr:hover .table-action{
width:130px; 
}
a:hover {
    color: #0072e4;
    
    text-decoration: none;
}
.card-header {
padding-bottom:5px;
background:#fff; 
}
.reset-group {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 5% !important; */
    margin: 0 6px;
}
.btn-create {
    line-height: 15px;
    color: #fff !important;
    background: #103359;
    padding: 14px 26px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: -2px; 
}
.rounded-circle{
 background-color:#f2f2f2; 
}
/***31-oct-2019***/
.categories_table_wrap b{
 color:#0072e4;     
}
.filter-header-wrap form{
 display:flex;    
}
.filter-header-wrap input, .filter-header-wrap select {
    background-color: #fff !important;
    border-radius: 5px !important;
    border: 1px solid #ddd !important;
}
.filter-header-wrap .btn-light {
    color: #3a3b45 !important;
    background-color: #fff !important;
    border-color: #ddd !important;
    border-radius: 5px !important;
    font-size: 13px !important;
    padding: 10px;
    line-height: 20px;
}
.filter-header-wrap .input-group {
    margin: 2px 15px 2px 0;
    width: 16%;
}
.filter-header-wrap .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    min-width: 100%;
    max-width: 100%;
}
.view_business_wrap label i {
    font-size: 15px;
    margin-right: 5px;
    color:#434344;
}
.view_business_wrap label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #000;
    font-size: 14px;
    margin-right: 6px;
}
.view_business_wrap .form-group {
    /* display: flex; */
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    min-height: 88px;
    margin: 0 0 18px;
}
.table-bordered td, .table-bordered th{
 max-width:330px;    
}
.filter-header-wrap button{
    border-radius: 5px !important;
}
a.btn-filter-reset, a.btn-filter-reset:hover{
 font-size:15px;    
}
.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, .0);
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, .0);
}

.fliter_wrap_left{
    display: flex;
    width:90%;    
}
.justify-content-between{
 justify-content:space-between;    
}
.line_limit_wrap .input-group{
 margin-right:0px; 
}
p.businesses_view_text {
    width: 100%;
	min-height:25px;
}
@media all and (-ms-high-contrast:none)
{
 .sidebar .nav-item .nav-link{
 width:100% !important;     
 }
}
.featured_image.specila_logo_image_wrap {
    height: auto;
    margin: 0 0 15px;
}
.business_image_holder {
    display: flex;
    align-items: center;
}
.business_img {
    width: 120px;
    margin: 0 12px 0 0;
    height: 120px;
    border-radius: 0%;
    overflow: hidden;
        background: #f2f2f2;
    box-shadow: 0 0 10px #eaeaea;
    position: relative;
}
.business_img img{
 height:120px;
 width:120px;
 border-radius:0% !important;       
}
.featured_image.specila_logo_image_wrap img{
     height: auto;
      overflow: auto;
    width: 190px;
    margin: 18px auto;
    background: #f2f2f2;
    box-shadow: 0 0 10px #ccc;
}
.delete_image {
    position: absolute;
    color: #ff0000 !important;
    right: 2px;
    top: 2px;
    cursor: pointer;
    border: 2px solid #ff0000;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    height: 25px;
    font-size: 15px;
    background: #fff;
    }
.featured_image {
    overflow: hidden;
    height: 300px;
    margin: 0 0 18px;
    position: relative;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;    
}
.featured_image img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: table;
}
.featured_image .business_image_holder{
position: absolute;
    top: 0;
    width: 100%;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d6dede;
}
.featured_image .business_img{
    margin: 0;
    border-radius:0px; 
}
.featured_image .business_img img{
    height: 100%;
    width: 100%;
    border-radius:0px; 
}
.input-group.mb-3{
 margin-bottom:3px !important;     
}
input.form-control-file {
    border: 1px solid #ddd;
    padding: 5px;
}
.sidebar-dark .nav-item .nav-link i.fas.fa-fw.fa-tachometer-alt {
    margin-right: 2px;
}
.pagination-wrap {
    padding: 10px 0;
}
span#error-days {
    display: block;
    width: 100%;
    padding: 0 13px;
}
.payroll_custom_table_wrap td:first-child{
    width: 290px !important;
    font-size: 14px;	
}


@media (min-width:1700px){
.payroll_custom_table_wrap td:first-child{	
width: 400px !important;	
}
}
@media (max-width:1024px){
    .business_img {
    width: 90px;
    margin: 0 7px 0 0;
    height: 50px;
}
.business_img img {
    height: 100%;
    width: 100%;
}     
}
@media (max-width:991px){
    .filter-header-wrap form{
     display:block     
    }
    .filter-header-wrap .input-group {
        margin: 10px 5px;
        width: 100% !important;
    } 
   .fliter_wrap_left{
    display:block;
    width:100%;   
   }
  .pagination{
   margin:10px 0px;    
  } 
 .table-bordered td, .table-bordered th{
 font-size:10px;   
 }   
}
.country_code {
    display: flex;
}
.country_code .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width:95px;
}
textarea.form-control {
    height: 100px !important;
}
.list-group-item.active {
    background-color: #ec7922 !important;
    border-color: #ec7922 !important;
}
a#add-new-option {
    border: 1px solid #dadada;
    font-size: 19px;
    padding: 6px 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    color: #4e4e4e;
    background: #fff;
    box-shadow: 0 0 10px #e0d6d6;
}
.survey-options a.float-right.text-danger.delete-option {
    text-decoration: underline;
    cursor: pointer;
}
.trainer_view_wrapper label{
    color: #103359;
    display: block;    
}
/*.trainer_view_wrapper .form-group{
 border-bottom:1px solid #ddd;      
}*/
.table-responsive .permission-actions a, .table-responsive .permission-actions a:hover{
    margin: 0 5px;
    color: #0072e4 !important;
    padding: 5px;
    border: 1px solid #e6d7cc !important;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #fff !important;
}
.table-responsive .permission-actions a:hover, .table-responsive .permission-actions a.active {
    color: #fff !important;
    background: #0072e4 !important;
}
.status_active{
     display: inline-block;
    background: #b1fbae;
    padding: 3px 15px;
    border-radius: 30px;
    color: #1d8a19;
    font-weight: bold;
    font-size: 14px;   
	width:97px;
	text-align:center;
    margin: 0 auto;
    display: block;
}
.status_inactive{
 color:#ca5a05;
 background:#f9c59d;     
}
a.back-link {
    color: #222;
    font-size: 13px;
    font-weight: bold;
}
.list_scroll_wrap{
 max-height:500px;
 overflow-y:auto;      
}
.list_scroll_wrap a{
 border-radius:0px !important;    
}
.login_holder_wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: -ms-flex;
}
.login_holder_wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: -ms-flex;
}
.open_list_mobile{
 display:none;    
}
/* 6MARCH2020 */
.dashboard-block {
    border: 9px solid #103459;
    padding:3px;
    background: #fff;
    margin-bottom: 25px;
    height: 240px;
}
.dashboard_worker_request_head {
    font-size: 19px;
    margin: 0 0 12px;
    color: #555;
}  
.dashboard_block_inner {
    background: #103459;
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 16px;
    position: relative;
    width: 100%;
    margin: 0;
}
.dashboard-block label {
    font-size: 19px;
    margin: 7px 0 0;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.dashboard-block-value {
    font-size: 60px;
    font-weight: bolder;
    margin: 0 0 25px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #103359;
    border-color: #103359;
}
.company_edit .dropdown button a {
    background: #fff;
    color: #6f6c6c;
    transition: 0.5s;
}
.company_edit .dropdown-toggle::after{
 display: none;    
}
.company_edit .dropdown button, .company_edit .dropdown button:focus{
 padding:0px;
 margin:4px; 
 box-shadow:none;
 outline: none;  
}
.drill-type{
 width:70px;
 display: table;
 margin:0 auto;    
}
.table th:last-child{
  text-align: right;   
}
.company_edit .dropdown button a {
    margin-left: 0;
    font-weight: normal;
    font-size:20px;
    border-left: 0;
    padding: 0;
    line-height: 10px;
    transition: 0.5s;
    color: #6f6c6c;
    background: #f2f2f2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company_edit .dropdown-menu a, .company_edit .dropdown-menu a:hover, .company_edit .dropdown-menu a:focus {
    display: block;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #555;
    width: 100%;
    border-radius: 0;
    background: none;
    border: 0;
    text-align: left;
    font-size: 14px;
    padding:8px 10px;
    height: auto;
    outline:none;
    box-shadow:none;
}
.company_edit .dropdown-menu.show {
    padding: 0;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 10px #ccc7c7;
}
.company_edit .dropdown-menu hr{
  margin:2px 0;   
}
.worker_name_td p{
 margin:0 0 2px;
 font-size:13px;
 font-style:italic;
 line-height:20px;     
}
.worker_name_td p:first-child{
 font-weight:bold;
 color:#000;
 font-size:15px;
 font-style:normal;     
}
.dataTables_filter{
display: flex;
justify-content: flex-start;    
}
.dataTables_length{
 display: flex;
 justify-content: flex-end;   
}
.pagination{
 justify-content: flex-end;    
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #103359;
    font-weight: 700;
}
h1.text-gray-800 {
    color: #353535 !important;
    font-weight: bold;
    font-size: 18px;
}
div.dataTables_wrapper div.dataTables_info{
  font-size:14px;    
}
ul.pagination li{
    font-size: 13px;
}
h6.logs_heading {
    font-size: 22px;
    color: #555;
    font-weight: 500;
    margin: 0 0 5px;
}
.dataTables_filter input, .dataTables_filter input:focus{
    border: 0;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    text-align: left;
    font-weight: bold;
    box-shadow:none;
    outline:none; 
    width:190px; 
}
.dataTables_length select, .dataTables_length select:focus{
  border: 0;
  width:65px !important; 
  box-shadow:none;
  outline:none;
  border-bottom: 1px solid #ddd;
  padding: 7px 0 6px 6px;
  border-radius:0px !important;
}
.btn-info, .btn-primary{
    color: #fff;
    background-color: #103359;
    border-color: #103359;
}
td.dataTables_empty {
    text-align: center;
    padding: 10px !important;
    font-size: 14px;
}
i.gj-icon {
    top: 4px !important;
    background: #fff;
    padding: 4px;
    right: 2px !important;
}
/* 6MARCH2020 */
/* 14MARCH2020 */
    
a.index-link {
    color: black;
}
.dataTables_wrapper .row:first-child{
 flex-direction: row-reverse;    
}
.custom_table_filter {
    position: absolute;
    top: 23px;
    width: 64%;
    left: 157px;
    display: flex;
    align-items: center;
    z-index: 55;
}
.custom_table_filter .btn.dropdown-toggle.btn-light, .custom_table_filter .btn.dropdown-toggle.btn-light:focus{
    border: 0px;
   border-bottom: 1px solid #ddd;
   box-shadow:none;
   background-color:#fff;
   outline:none; 
   padding-left:0px;  
   border-radius:0px; !important   
}
.custom_table_filter input, .custom_table_filter input:focus{
    width:175px;
    margin: 0 0 0 10px;
    border: 0px;
    border-bottom: 1px solid #ddd;   
    box-shadow:none;
    background-color:#fff;
    outline:none; 
    padding-left:0px;    
	border-radius:0px !important;
	position:relative;
	top:-3px;
}
div.dataTables_wrapper div.dataTables_filter input{
 width:131px !important; 
border-radius:0px !important; 
z-index:555;
position:relative;
}
.dataTables_length select[name="datatable_length"]{
 border-radius:0px !important;
}
.user-reset-filter{
    font-weight: bold !important;
    padding: 0;
    text-align: center;
    display: inline-flex;
    margin-top: 3px;
    color: #103359;
	margin-left:8px;
}
.user-reset-filter i{
    position: relative;
    top: 5px;
    font-size: 14px;
    margin: 0 5px 0 0px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #103359;
    color: #fff;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #103359 !important;
    border-color: transparent;
    color: #fff;
}
table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 0;
    border-right: 1px solid #ddd;
}
table.table-bordered.dataTable td{
 border-right:0px;    
}
.form-group  label{
 display:block;
 width:100%;     
}
.sidebar-dark.toggled .sidebar-heading {
    font-size: 8px;
}
/*.form-group .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}*/

.bar_code_holder {
    padding: 15px;
    background-color: #faf8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 252px;
    position: relative;
}

.projects-view-page-wrapper .bar_code_holder{
 margin-top:38px;	
}


.bar_code_holder form {
    position: absolute;
    bottom: 2px;
    font-size: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.bar_code_holder input{
 margin-top:6px;	
 padding-bottom:5px;
}
.bar_code_holder img {
    width: 172px;
    position: relative;
    top: -10px;
}
span.project_name_view_heading {
    position: relative;
	padding-right:20px;
}
.project_name_view_heading em{
    position: absolute;
    font-size: 14px;
    color: #000;
    top: 0px;
    right: -15px;
}
.project_name_view_heading em a{
    color: #555;
    border: 1.3px solid #ddd;
    padding: 3px;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 12px;
    padding: 5px 0;
    text-align: center;	
}
span.project_name_view_heading:hover em{
 display:block;	
}
#datatable-worklog_wrapper .dt-buttons, #datatable_wrapper .dt-buttons{
    position: absolute;
    right: 22px;
}
#datatable-worklog_wrapper .dt-buttons button, #datatable_wrapper .dt-buttons button{
    background: #103459 !important;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 9px 21px;
}
.edit-date input {
    padding: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
	width:123px;
}
.project_view_table td{
 font-size:13px;	
}
.project_view_table .date-text {
    width: 100% !important;
}
.project_view_table .status_active{
    font-size:12px;	
    margin: 0 auto;
    text-align: center;
    display: block;
}
.worker_request_table th {
    border-right: 1px solid #ddd;
}
td.no_pending_worker_request {
    padding: 30px 0 !important;
    font-size: 15px;
	height:200px;
}
.custom_table_filter .dropdown.bootstrap-select{
 margin:0px 0px 0px 10px;	
}
.dropzone{
 border:0px !important;	
}
.profile_image_cropper {
    left: 292px !important;
    width: 300px !important;
    height: 300px !important;
    top: 205px !important;
}
.profile_image_cropper button {
    background: #103359;
    color: #fff;
    padding: 8px 17px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #555;
	bottom: 8px;
    top: auto !important;
	left:50px !important;
}
.profile_image_cropper button:nth-child(2){
 background:#ff7675;
left:150px !important; 
}
.table td, .table th{
 padding:12px 15px !important;	
}
.worker_page_wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
 width:130px;	
}
.worker_page_wrapper .dataTables_length{
position: absolute;
 right:15px;
z-index:555; 
}
span.request-count {
    background: #f2f2f2;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 0px;
}
div.dataTables_wrapper div.dataTables_processing{
z-index:555;
    text-align: center;
    padding: 10px;	
}
span.status_active.action-block {
    background: #fad97d;
    color: #fff;
}
table.dataTable td, table.dataTable th{
 vertical-align:middle;	
}
/* 14MARCH2020 */
/*2APRIL2020*/
.icons-guide-container img {
    width: 20px;
}
.icons-guide-container div {
    margin-bottom: 4px;
    display: inline;
    margin-right: 15px;
}
.icons-guide-container span {
    margin-left: 9px;
    font-size: 10px;
}
.icons-guide-container {
    position: absolute;
    bottom: 8px;
    right: 0px;
}
/*2APRIL2020*/

.next-prev-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    position: absolute;
    top: 7px;
    z-index: 5;
    right: 20px;
}

.next-prev-navigation a {
    padding:.375rem .75rem;
    display: inline-block;
    background: #103359;
    color: #fff;
    border-radius: 5px;
    margin: 0 0 8px 5px;
    font-size: 18px;
}
.worker_doc_view_wrap .document-view {
    background: #fbfbfb;
    padding: 10px;
    margin: 0 0 12px;
    border-bottom: 2px solid #f2f2f2;
}

.worker_doc_view_wrap .no-worker-documents {
    margin: 0;
    background: #f2f2f2;
    padding: 13px;
    text-align: center;
    font-weight: 600;
}

label.doc_label {
    font-weight: bold;
    font-size: 17px;
}
.view_doc_text{
font-size:14px;	
}

.user_view_wrap{
margin-top: 12px;
padding: 0 15px;	
}

.col-md-12.additional-notedoc-element.document_updated_text_wrap{
    background: #f9f9f9;
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 0;
    margin: 5px 0;	
}
.updated_doc_wrp{
background: #103359;
color: #fff;
padding:4px 15px;	
}
.updated_doc_wrp .row{
 align-items:center;
}
.updated_doc_wrp  label.doc_label {
    font-weight: bold;
    font-size: 13px;
}

label.doc_label.label_for_mobile {
    display: none;
}
.currently_up_title{
	background: #fff;
    color: #000;
    margin-bottom: 18px;
    padding: 0 10px;
    margin-top: 9px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 10px 0 9px;
}
.worker_doc_view_wrap .document-view span.uploaded-by-text {
    color: #efaf4f;
}

.payroll-excel-report-table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
	max-height:80vh;
	border-bottom:1.5px solid #ddd;
}
.payroll-excel-report-table-wrapper table{
       min-width: 2034px !important;
	   width:100% !important;
}
.payroll-excel-report-table-wrapper table th{
vertical-align: top; 	
}
#hide-table-data {
    right:12px;
}
.payroll-excel-report-table-wrapper table th, .payroll-excel-report-table-wrapper table td{
 font-size:13px;
}
.payroll-excel-report-table-wrapper table.table tr td:last-child, .payroll-excel-report-table-wrapper table.table tr th:last-child {
    width: 299px !important;
    vertical-align: middle;
    text-align: center;
}
.payroll-excel-report-table-wrapper span.fa.fa-times-circle{
 display:none;	
}

a.report-alert {
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    background: #103459;
    padding: 9px 10px;
    margin-top: 9px !important;
    color: #fff;
    border-radius: 5px;
}
.approve-button{
border-radius:5px !important;	
}
.text-gray-600 {
    color: #858796!important;
    font-size: 15px;
}
.payroll-excel-report-table-wrapper td.sheet-error {
    background: #f05858 !important;
    color: white !important;
}
.payroll-excel-report-table-wrapper td.less-hours, .payroll-excel-report-table-wrapper td.less-gross, .payroll-excel-report-table-wrapper td.less-rate {
    background: #f05858 !important;
    color: white;
}


.bootstrap-select .dropdown-menu li:last-child{
 padding-bottom:20px;	
}
.dropdown-menu .inner{
max-height:200px !important;	
}
.sample-file-button {
    background: #103359; 
    color: #fff !important;
    font-size: 15px;
    padding: 9px 15px;
    border-radius: 5px;
    margin-left: 4px;
}
#update-profile-image .img-profile{
    width: auto !important;
    height: auto !important;
    object-fit: contain;
    max-height: 150px !important;
    border: 2px solid #ddd;
    max-width: 200px !important;
    padding: 2px;	
	border-radius:0px !important;
}


/****12-6-2020****/
.payroll-information-wrapper .form-group{
margin-bottom:5px;	
}
.payroll-information-wrapper .form-group label{
margin-bottom:3px;	
}
.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background: rgba(5, 43, 68, 0.4) !important;
}
/****12-6-2020****/

/***new css******/
.manpower-filter-wrap select, .manpower-filter-wrap input{
width:100%;	
height:41px;
}
.manpower-filter-wrap .bootstrap-select{
width:100% !important;	
}
.manpower-text-body-wrap {
}
.manpower-table-heading-row{
    background: #f2f2f2;	
}
.manpower-table-heading-row strong{
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    display: block;
    padding: 11px 0px;
    /*border-right: 1px solid #ddd;	*/
} 
.manpower-table-heading-row .add-power-row-wrap-button strong{
border:0px;	
}
.power-row-repeat {
    display: flex;
    align-items: center;
	margin:0 0 15px;
}
.power-row-repeat:last-child{
margin:0px;	
}

.power-row-repeat .step-one {
    width: 20%;
    padding: 0 8px 0 8px;
}

.power-row-repeat input, .power-row-repeat .bootstrap-select {
    width: 100% !important;
    height: 41px;
}

.power-row-repeat .for-label-wrap{
width:70px;
color:#000;
text-align:center;
text-transform:capitalize;	
}
.add-power-btn, .add-power-btn:hover{
    color: #103459;
    border: 1.3px solid #103459;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 3px 0 0;
    margin-left: 3px;
	display:inline-block;
}
.power-row-repeat .add-power-row-wrap{
 width:auto;	
}

.delete-wrap .add-power-btn, .delete-wrap .add-power-btn:hover, .delete-wrap-2 .add-power-btn, .delete-wrap-2 .add-power-btn:hover{
 color:#ff0000;
 border-color:#ff0000; 
}

.second-sift-wrap input{
 width:auto;
height:auto; 
}
.previous-action-wrap {
    display: flex;
    align-items: center;
}
.previous-action-wrap .copy-btn, .previous-action-wrap .copy-btn:hover, .previous-action-wrap .copy-btn:focus {
    background: #103459;
    color: #fff;
    border: 0px;
    padding: 7px 10px;
    border-radius: 5px;
    margin: 0 0px 0 10px;
    font-size: 14px;
    cursor: pointer;
	outline:none;
	box-shadow:none;
}

.second-sift-wrap label {
    color: #000;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.manpower-top-btn-wrap .btn, .man-power-button-wrapper .btn{
    line-height: 15px;
    color: #fff !important;
    background: #103359;
    padding: 13px 25px;
    /* font-size: 16px !important; */
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: 0;
    border: 0;	
	outline:none !important;
	box-shadow:none !important;
}

.manpower-filter-wrap {
    background: #ececec;
    padding: 15px;
    border-radius: 5px;
    margin: 18px 0 30px;
}

.manpower-filter-wrap .row{
justify-content: space-between;
align-items:center;	
}

.sift-flex-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.power-row-repeat .small-i-w {
    float: left;
    width: 50% !important;
}
.power-row-repeat .bootstrap-select.form-control.small-i-w select.small-i-w{
width:100% !important;	
left:0px;
}
input.form-control.small-i-n {
    float: right;
    width: 45% !important;
}
.manprowe-page-wrap{
 min-height:93vh;	
}

/*.copy-button-wrap .btn {
    background: #555;
    border-color: #555;
}*/

.manprowe-page-wrap .filter-option-inner-inner {
    color: #000;
}
.manprowe-page-wrap select, .manprowe-page-wrap input, .manprowe-page-wrap textarea{
 color:#000 !important;	
}

.manprowe-page-wrap ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

.manprowe-page-wrap :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#000;
}

.manprowe-page-wrap ::-ms-input-placeholder { /* Microsoft Edge */
  color:#000;
}
 .manprowe-page-wrap .bootstrap-select .dropdown-menu li:last-child {
      padding-bottom: 0px;
    }

.manprowe-page-wrap .bootstrap-select .dropdown-menu{
max-height:inherit !important;	
padding-bottom:0px !important;
}	
	
ul.log-list-flex {
    padding: 0;
    list-style: none;
    width: 100%;
}

ul.log-list-flex li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    align-items: center;
}

ul.log-list-flex li div {
    width: 25%;
	padding:3px 10px;
	 padding: 0px 10px 10px
}

span.in-time-text {
    display: table;
    font-weight: bold;
    font-size: 19px;
    border-radius: 5px;
}

span.out-time-text {
    display: table;
    /*margin: 0 auto;*/
    font-weight: bold;
    font-size: 19px;
	  /*min-width: 136px;*/
    /*text-align: center;*/
    border-radius: 5px;
}	
ul.log-list-flex li b {
    width: 25%;
    display: block;
    background: #f2f2f2;
    padding: 10px;
    font-weight: bold;
    color: #000;
    font-size: 15px;
}
ul.log-list-flex li b:nth-child(2), ul.log-list-flex li b:nth-child(3){
 /*text-align:center;	*/
}
.log-worker-name {
    font-weight: bold;
}

ul.log-list-flex li span {
    font-size: 16px;
    font-weight: normal;
}
.ui-datepicker-calendar tr td:nth-child(5) {
    display: table-cell !important;
}
/***new css******/
.fontello-after:after, .fontello:before, .wickedpicker__controls__control-down:after, .wickedpicker__controls__control-up:before{
    display: inline-block !important;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
}


.wickedpicker__controls__control-up:before {
    content:"\f106" !important;
}
.wickedpicker__controls__control-down:after {
    content: "\f107" !important;
}

.view-manpower-page-wrapper b.project-name-wrap {
    color: #000;
    font-size: 21px;
    display: block;
    margin: 0 0 5px;
}

.view-manpower-page-wrapper p.project-date-time {
    margin: 0;
    color: #000;
    font-size: 14px;
}
.view-manpower-page-wrapper .step-one{
color:#333;	
font-size:15px;
font-weight:bold;
width:100% !important;
margin:0 0 5px;
}
.view-manpower-page-wrapper .power-row-repeat .for-label-wrap {
    color: #b3b3b3 !important;
    font-size: 17px;
    width: 103px;
    text-align: left;
}
.view-manpower-page-wrapper .power-row-repeat {
    display:block;
    align-items: center;
    margin: 0 0 15px;
    border-bottom: 1px solid #f3f2f2;
	padding-bottom:5px;
}
.view-manpower-page-wrapper .power-row-repeat:last-child{
border:0px;	
padding-bottom:0px;
margin-bottom:0px;
}
.view-manpower-page-wrapper .manpower-filter-wrap {
    background: #fff;
    padding: 0 0px 15px;
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.view-manpower-page-wrapper .step-one input, .view-manpower-page-wrapper .step-one input:hover, .view-manpower-page-wrapper .step-one input:focus{
    background-color: inherit !important;
    border: 0px;
    border-radius: 0px !important;
    font-size: 15px;
    box-shadow: none;
    outline: none;
}


.view-man-pawer-top-detail {
    padding: 15px 5px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
}
.view-man-pawer-top-detail .project-name-wrap {
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
}
.view-man-pawer-top-detail .project-date-time {
    margin: 4px 0;
    font-weight: 400;
    font-size: 15px;
	color:#000;
}
ul.view-power-list-wrap {
    padding: 0 0 23px;
    margin: 0;
	/*min-width:1184px;*/
}
.manpower-view-table-holder {
    overflow-x: auto;
}

ul.view-power-list-wrap li {
    display:flex;
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #f2f2f2;
	background:#fff;
}
ul.view-power-list-wrap:first-child {
    margin-bottom: 0px;
    padding-bottom: 0;
}
ul.view-power-list-wrap li b {
    background: #f2f2f2;
    padding: 10px;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
	-webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 25%;
    max-width: 25%;
}
ul.view-power-list-wrap:first-child li{
background: #f2f2f2;	
}
/*ul.view-power-list-wrap li span:first-child {
    font-weight: bold;
    color: #000;
}*/
ul.view-power-list-wrap li span {

    background: #fff;
    padding:13px 10px;
    color: #858796;
    font-size: 14px;
    line-height: 19px;
	    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 25%;
    max-width: 25%;
}

/*.work-name-td {
    width: 24%;
}
.work-no-td {
    width: 200px;
}
.work-type-td {
    width: 200px;
}

.work-notes-td {
    width: 400px;
    word-break: break-all;
}*/

.wickedpicker {
    width: 152px !important;
}
.wickedpicker__title{
    background: #103359 !important;	
	    color: #fff !important;
		    padding: 6px 11px 5px 15px !important;
			border-bottom: 0px !important;
}
.wickedpicker__close{
color:#fff !important;	
}
.wickedpicker__controls {
    padding: 8px 0 !important;
}


.card-body.worker_page_wrapper.a-m-r .dataTables_length{
right:0px;	
}

.manpower-date-wrap {
    text-align: center;
    color: #000;
    text-transform: capitalize;
    font-size: 17px;
    display: block;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 0 20px #e6e6e64d;
}

.manpower-date-wrap input{
display: block;
position: absolute;
top: 0;
width: auto;
height: 100%;
opacity: 0;
cursor: pointer;
left:0px;
right:0px;
margin:0 auto;	
}

.manpower-date-wrap strong{
    text-transform: uppercase;
    letter-spacing: 1px;	
}
.manpower-date-wrap p{
    margin: 0;
    font-size: 15px;	
}
.manpower-next-pre-wrap .row {
    align-items: center;
}
.manpower-next-pre-wrap {
    margin: 25px 0;
}
.copy-button-wrap{
position: absolute;
right: 8px;
top: 0px;	
}
.second-sift-heading{
    display: block;
    color: #000;
    font-size: 13px;
    margin: 0 0 4px;
    text-transform: uppercase;
    letter-spacing: 0.5px;	
}
.viewmanp-row-repeat .power-row-repeat{
 border-bottom:1px solid #f2f2f2;
padding-bottom:13px; 
}
h2.project-name-wrap {
    font-weight: bold;
    color: #000;
    font-size: 23px;
    margin: 0;
}
.manpower-project-repeat-wrapper{
width:100%;
padding:0px 10px;
margin-bottom:30px;
}


.manpower-project-repeat-wrapper .card.card-body.shadow.col-lg-12{
margin-bottom:0px !important;	
}

.man-power-project-name{
margin-bottom: 15px;	
}
.man-power-project-name h3{
    margin: 0;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 17px;
    color: #000;	
}
.man-power-project-name span{
    color: #000;
    margin: 2px 0 5px;
    display: block;
    text-transform: uppercase;
    font-size: 15px;	
}

.manpower-project-repeat-wrapper .power-row-repeat{
padding: 10px 0;
    background: #fff;
    margin: 0;
    border-bottom: 1px solid #f2f2f2;
}
.manpower-project-repeat-wrapper .power-row-repeat:last-child{
border:0px;	
}

.manpower-project-repeat-wrapper .manpower-table-heading-row{
background:#e2e2e2;
margin:0px;	
padding:0px;
border:0px;
}
.project-sift-inner-repeat.project-sift-2-wrap {
    /*background: #f9f9f9;*/
    padding: 15px 0;
    border-radius: 0px;
    margin:4px 0;
}

.project-sift-inner-repeat.project-sift-2-wrap .shift-table-head-wrap li{
background:#f2f2f2 !important;	
}

.project-sift-inner-repeat.project-sift-2-wrap .view-power-list-wrap li{
background:#fff;	
}
.project-sift-2 {
    margin: 0px 0 13px;
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 17px;
    border-bottom: 1px solid #ddd;
    padding: 0 0 7px;
    letter-spacing: 1px;
}


.subcon-project-schedule-wrap .card.card-body.shadow.col-lg-12 {
    margin-bottom: 30px;
}
.subcon-project-schedule-wrap  .power-row-repeat .step-one{
width:24%;	
}

/****resource page css*****/
.resource-front-end-header {
    background:#fff !important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.resource-front-end-header .sidebar-brand-text.mx-3 {
    width: 191px;
    margin: 0px !important;
}
.resource-front-end-header a {
    color: #959494;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.resource-innter-text h1 {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    margin: 0 0 15px;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.resource-innter-text h1 a {
    color: #555;
    font-size: 14px;
}

main.resource-front-page-wrap .resource-innter-text p {
    background: none !important;
    font-size: 16px !important;
    line-height: 28px;
    color: #474545;
}

.resource-innter-text{
 padding:0px 0;	
}

.resource-listing-wrap-outer {
    float: left;
    width: 100%;
    padding: 10px 0px 0;
}
.resource-listing-heading {
    margin: 0 0 15px !important;
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px;
}
.resource-page-wrap {
    background: #fff;
    padding:20px;
	margin-top:40px;
}

	
.resource-listing-wrap li{
float: left;
list-style: none;
width: 100%;
border-bottom: 1px solid #ccc;
padding: 10px;
margin-bottom: 5px;	 
}
	
.resource-listing-wrap{
	 padding:0px;	
}
	
.resource-listing-wrap li a {
color: rgba(16,52,89) !important;
font-size: 18px;
text-transform: uppercase;
font-weight: bold;
}

.resource-file-text-wrap {
    margin: 0;
}
.resource-file-text-wrap a {
color: rgba(16,52,89) !important;
font-size: 18px;
text-transform: uppercase;
font-weight: bold;
}
/****resource page css end ***/
.trainer_view_wrapper h6.safety-strikes-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 5px;
}
.resource-input-type-file {
    position: relative;
    width: 141px;
    background: #efefef;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
	cursor:pointer;
}

.resource-input-type-file input {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
   cursor:pointer;
}

.manprowe-page-wrap textarea.specialnotes {
position: fixed;
    right: 5px;
    top: 348px;
    min-height: 160px;
    z-index: 999;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px #ccc;
    padding: 10px;
    font-size: 14px;
    width: 159px;
}
label.close-job-label {
    margin-left: 6px;
}
.manprowe-page-wrap textarea.specialnotes:focus{
 outline:none; 
}

.trainer_view_wrapper h6.safety-strikes-head .export-btn{
    padding: .375rem .75rem;
    display: inline-block;
    background: #103359;
    color: #fff;
    border-radius: 5px;
    margin: 0 0 8px 5px;
    font-size: 18px;	
}

.ui-datepicker th:nth-child(5){
display:table-cell !important;	
}

.schedule-project-row {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.second-sift-heading-text {
    color: #353535 !important;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 15px;
}
.ui-widget-header {
    background: #ffffff !important;
    color: #000/*{fcHeader}*/ !important;
    font-size: 13px;
    border-radius: 0px !important;
    border: 0px !important;
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 4px !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
background:#f2f2f2 !important;	
border-color:#f2f2f2 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: #f2f2f2 !important;
    background: #f2f2f2 !important;
    color: #222 !important;
    text-align: center !important;
    font-size: 14px !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #103359 !important;
    background: #103359 !important;
    color: #fff !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border-color: #829ab4 !important;
    background: #829ab4 !important;
    font-weight: normal/*{fwDefault}*/;
    color: #fff !important;
}
.ui-widget-content {
    border: 1px solid #f3f3f3 !important;
    box-shadow: 0 0 10px #d3d0d0 !important;
}
.ui-datepicker th{
font-size:13px !important;	
}
p.no-data-found {
    margin: 0;
    text-align: center;
    font-size: 15px;
	padding:5px 0;
	width:100%;
}
.row.subcon-project-schedule-wrap .d-sm-flex.align-items-center.justify-content-between.mb-4 {
    padding-left: 10px;
}
.superadmin-manpower-schedule-wrap ul.view-power-list-wrap li b, .superadmin-manpower-schedule-wrap ul.view-power-list-wrap li span{
    flex: 0 0 20%;
    max-width: 20%;	
}
.row.superadmin-manpower-schedule-wrap {
    margin: 0px 0 50px;
}
/*.row.subcon-project-schedule-wrap {
    margin-bottom: 50px !important;
}*/

.row.superadmin-manpower-schedule-wrap .card {
    margin-bottom: 30px;
}

.second-shift-job-time-wrap .manpower-filter-wrap{
 margin:0px 0px 15px;	
}


.copy-old-section-wrap {
    text-align: right;
    position: absolute;
    float: right;
    margin: 0 0 12px;
    right: 13px;
    top: 0px;
	z-index:99;
}

.btn.copy-btn.copy-old-btn {
    line-height: 15px;
    color: #fff !important;
    background: #103359;
    border-radius: 5px;
    display: flex;
    font-size: 15px;
    outline: none !important;
    box-shadow: none !important;
    width: 133px;
    float: right;
    cursor: pointer;
    justify-content: space-between;
    padding: 13px 13px;
	text-transform:capitalize;
}

.copy-old-section-wrap .copy-button-wrap {
    position: absolute;
    right: 0px;
    top: 39px;
    background: #fff;
    padding:0px;
    z-index: 555;
    width: 175px;
    box-shadow: 0 0 10px #f2f2f2;
	transition:0.3s;
	opacity:0;
	visibility:hidden;
	transform:scale(0.8);
	
}
.copy-old-section-wrap:hover > .copy-button-wrap{
opacity:1;
	visibility:visible;
	transform:scale(1);	
}
.copy-old-section-wrap:hover a i:before{
content:"\f106";
transition:0.3s;	
}

.copy-old-section-wrap .manpower-top-btn-wrap .btn, .copy-old-section-wrap .man-power-button-wrapper .btn {
  line-height: 15px;
    color: #000 !important;
    background: #fff;
    padding: 13px 25px;
    border-radius: 0;
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: 0;
    border: 0;
    outline: none !important;
    box-shadow: none !important;
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.copy-old-section-wrap .manpower-top-btn-wrap .btn:hover, .copy-old-section-wrap .man-power-button-wrapper .btn:hover{
background:#f1f1f1;	
}

.copy-old-section-wrap .manpower-top-btn-wrap span{
border:0px !important;	
}
.copy-old-section-wrap .manpower-top-btn-wrap .btn input{
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
opacity:0;	
cursor:pointer;
}

.schedule-email-dropdown-wrap {
    position: relative;
	right:0px;
	z-index:22;
}
.schedule-email-dropdown-wrap .btn.copy-btn.copy-old-btn{
 width:173px;	
}
.schedule-email-dropdown-wrap .copy-button-wrap{
 width:215px;	
}
.schedule-project-row select{
    border-radius: 5px !important;
    border: 1px solid #ddd;
    font-size: 13px;
    padding: 10px;
    height: 44px;
   min-width:160px;	
}

.send-email-pre-wrap {
    text-align: right;
}
.send-email-pre-wrap a {
    line-height: 15px;
    color: #fff !important;
    background: #103359;
    padding: 13px 25px;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: 0;
    border: 0;
    outline: none !important;
    box-shadow: none !important;
    margin: 0 0 10px;
}
.manpower-project-list-wrap {
    background: #103359;
    padding:0;
    border-radius: 5px;
    box-shadow: 0 0 10px #f2f2f2;
	height:100%;
	min-height:100vh;
}
.manpower-project-list-wrap h3{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.1px;
    border-bottom: 1px solid #31429d;
    padding: 12px;
    margin: 0px;	
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.manpower-project-list-wrap ul li{
list-style:none;	
}
.manpower-project-list-wrap ul{
    padding:0px;	
}

.manpower-project-list-wrap ul li a.active{
 background:#10559f;   
}
.manpower-project-list-wrap ul li a {
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #31429d;
    display:flex;
	align-items:center;
	justify-content:space-between;
    padding:12px;
}
.manpower-project-list-wrap ul li a span{
max-width:63%;
    word-break: break-word;	
}

.project-list-icons i{
    color:#fff;
    font-size: 14px;
    opacity:0.5;
    margin:0 1px;	
}
.project-list-icons .fa-envelope-o{
    font-size: 16px;
    position: relative;
    top: 1px;	
}

.project-list-icons i.active{
    color: #f1c151;
	opacity:1;
}


.manpower-project-list-wrap ul li:last-child a{
border:0px;	
}
.manprowe-page-wrap h1.h3.mb-0.text-gray-800{
    margin: 0 auto;
    display: block;
    text-align: center;
    /*border-bottom: 1px solid #f2f2f2;*/
    padding: 0 0 15px;
    width: 100%;	
}
.manprowe-page-wrap h1.h3.mb-0.text-gray-800 strong{
 font-size:25px;	
}

.manprowe-page-wrap.manpower-project-pages-wrapper h1.h3.mb-0.text-gray-800{
margin:0px;
width:auto;	
border:0px;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #000;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    color: #2653d4;
}
.send-all-email-pre-wrap{
margin:0 0 10px;	
}
.send-all-email-pre-wrap a{
line-height: 15px;
    color: #fff !important;
    background: #103359;
    padding: 13px 25px;
    /* font-size: 16px !important; */
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: 0;
    border: 0;
    outline: none !important;
    box-shadow: none !important;
    text-transform: capitalize;	
}
.emails-buttons-flex-wrap{
 display:flex;
align-items:center;
justify-content:space-between; 
}
.position-absolute-wrap{
position:absolute;	
}
.logs-position-wrap{
    position: absolute;
    right: 0px;
    z-index: 2;
    top: 0px;	
}


/***28-8-2020***/
.custom-modal .modal-header{
    background: #103359 !important;
    border-radius: 0;
    color: #fff;	
}
.custom-modal .dropdown-toggle::after{
 color:#000; 
}

.custom-modal .close, .custom-modal .close:hover, .custom-modal .close:focus{
opacity: 1;
color: #fff;
font-size: 23px;
outline:none;
box-shadow:none;	
}

.custom-modal .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.modal-data label {
    display: block;
    margin: 0 0 9px;
    color: #000;
	font-weight:600;
}
.modal-data input{
margin:0 5px 0 0;	
}

.modal-data .btn{
line-height: 15px;
    color: #fff !important;
    background: #103359;
    padding: 13px 25px;
    /* font-size: 16px !important; */
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: 0;
    border: 0;
    outline: none !important;
    box-shadow: none !important;
   float:right;	
   margin:0px;
}
.custom-modal .show-preview {
    background: #f2f2f2;
    padding: 10px;
    color: #000;
}
.show-preview h2 {
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    background: #ccc !important;
    padding: 8px;
}
.show-preview div {
    margin: 0 0 2px;
    font-size: 13px;
    line-height: 17px;
}
.show-preview  p{
margin-bottom:3px;	
}
.show-preview h5 {
    font-size: 14px;
    margin: 2px 0 6px;
    text-transform: uppercase;
    font-weight: bold;
    color: #505050;
}

.project-tab-wrap .tab-inner-wrap{
    display: flex;
    align-items: center;
    margin-bottom:0px;
}

div#manpower-schedule-data, #logs-data-wrap, #project-info-data{
    background: #efefef;
    padding: 15px;
}

.row.justify-content-center.trainer_view_wrapper.projects-view-page-wrapper {
    margin: 0;
}

.tab-inner-wrap span {
    display: block;
    padding: 10px 17px;
    background: #103359;
    color: #fff;
    min-width: 180px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 0 0px 0 0;
    border-radius: 0px;
    border-right: 1px solid #104e92;
}

.tab-inner-wrap span.active {
    background: #efefef;
    color: #103359;
}

#logs-data-wrap .logs_heading{
    color: #353535 !important;
    font-weight: bold;
    font-size: 18px;
}

span#manpower-tab {
    border: 0;
}
/***28-8-2020***/

/**25-11-2020**/
.log-reports-text-wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 160px;
}
.log-reports-text-wrapper .dataTables_length{
right:135px;	
}
.log-reports-text-wrapper .table th:nth-child(2):after, .log-reports-text-wrapper .table th:nth-child(2):before{
display:none !important;	
}
.log-reports-text-wrapper .table th:first-child{
width:150px !important;	
}
.strike-table-wrapper table{
display:table !important;
border:1px solid #ddd;	
}
.form-group.more-pdf.strike-wrap.worker_doc_view_wrap.strike-table-wrapper table th {
    background: #f2f2f2 !important;
    color: #000;
    text-transform: uppercase;
    padding:9px 10px;
    font-size: 13px;
	border-right:1px solid #ddd;
}
.form-group.more-pdf.strike-wrap.worker_doc_view_wrap.strike-table-wrapper table td {
 font-size:14px;
padding:9px 10px;
border-bottom:1px solid #ddd; 
}

.strike-table-wrapper .no-media-text {
    background: #f5f5f5;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #807e7e;
    width:150px;
}
.log-report-filter-wrapper {
    display: flex;
    align-items: center;
}
.log-report-filter-wrapper .dropdown {
    margin: 0px 8px 0 0 !important;
}
.log-report-filter-wrapper input{
border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    background: #fff;	
}
.log-report-filter-wrapper input[type="submit"].commonfield{
line-height: 15px;
    color: #fff !important;
    background: #103359;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: 0;
    border: 0px;
    margin: 0 0 0 6px;	
}
.log-reports-modify-search-wrap {
    display: flex;
    align-items: center;
    margin-top: 11px;
}
.log-reports-modify-search-wrap span{
 margin:0px 5px;	
}
/**25-11-2020**/

input.dt-button.buttons-csv.buttons-html5 {
    position: absolute;
    right: 0;
    line-height: 15px;
    color: #fff !important;
    background: #103359;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 5px !important;
    display: inline-block;
    font-size: 15px;
    /* position: relative; */
    top: -2px;
    border-radius: 5px;
    width: auto;
}
.custom_table_filter.all-workers-custom-filter {
    width: 99%;
    left: 2px;
    padding-left: 150px;
}
.table td, .table th {
    padding: 9px 10px !important;
	font-size:14px;
}
.all-workers-listing-table-wrap td.emailcol {
    width: 118px !important;
    word-break: break-all;
}

p i.stamp { 
    float: right;
    font-size: 14px;
    font-style: normal;
}

.allow-manul-wrap.regular-job {
    position: relative;
    top: 32px;
}



.resource-file-section-wrap {
    background: #f2f2f2;
    padding: 15px;
}
.row.resource-file-row-wrap {
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 0 0 4px;
}
h3.resource-file-head {
    margin: 0;
    color: #000;
    font-weight: bold;
    font-size: 28px;
    margin: 0 0 16px;
    position: relative;
    top: 2px;
}
.resource-innter-text h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resource-innter-text h1 .rcrs-name-wrap{
    width: 80%;
    word-break: break-all;
    padding-right: 5px;
}
button.resource-file-addbtn.btn {
    color: #fff;
    background-color: #103359;
    border-color: #103359;
    float: right;
    padding: 6px 28px;
}
a.delete-resource-file-link {
    color: #ff0000 !important;
    font-weight: bold;
    text-decoration: underline !important;
    float: right;
	cursor:pointer;
}
.resource-files-list-wrap .row {
    border-bottom: 1px solid #ddd;
    padding: 0 0 0;
    margin-bottom: 8px;
    margin-top: 15px;
    /* background: #fff; */
	align-items:center;
}
.resource-files-list-wrap .row  input{
max-width:100%;
overflow:hidden;	
}
.resource-files-list-wrap .row  input:focus{
 box-shadow:none;
 outline:none; 
}


.resource-files-list-wrap .row:last-child{
border:0px;
margin-bottom:0px;	
}

.trainer_view_wrapper #datatable_wrapper{
margin-bottom:12px;	
}


@media (min-width:1280px){
.manprowe-page-wrap .col-lg-10{
position:relative;
left:-15px;		
}
}

@media (min-width:1366px){
#datatable_wrapper {
    overflow-x:visible;
}	
}




@media (min-width:1500px){
.manprowe-page-wrap{
max-width: 1280px;	
}
}
@media (min-width:1800px){
.dashboard-block{
 height:340px;	
}
.manprowe-page-wrap textarea.specialnotes {
    right: 35px;
    width: 223px;
}	
.manprowe-page-wrap {
    max-width: 1340px;
}
}



@media (max-width:1440px){
.work-notes-td{
width:260px;	
}
ul.view-power-list-wrap{
min-width:auto;	
}	
}

@media (max-width:1400px){
.profile_image_cropper{
 left:270px !important;	
}	
}
@media (max-width:1300px){
.profile_image_cropper{
 left:260px !important;	
}	
}
@media (max-width:1200px){
.worker_page_wrapper .custom_table_filter{
 width:42%;	
}
.custom_table_filter.all-workers-custom-filter {
    width: 98%;
}
p i.stamp{
float:none;
width:100%;
display:block;	
}
.bootstrap-select .dropdown-menu {
 
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    left: 0px !important;
    transform: translate(0px, 0px) !important;
}	
}

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
.manpower-project-list-wrap h3{
 font-size:13px;	
}
.manpower-project-list-wrap ul li a{
font-size:13px;	
} 	
}

@media (max-width:1199px){
input.dt-button.buttons-csv.buttons-html5{
padding:14px 12px;	
}

.worker_page_wrapper .dataTables_length {
    right: 0px !important;
    position: relative;
    z-index: 22;
}
.worker_page_wrapper .dataTables_length{
display:block;	
}
.worker_page_wrapper .dataTables_length label{
width:100%;
display:block;	
}
.worker_page_wrapper .dataTables_length select, .worker_page_wrapper .dataTables_length select:focus{
 width:100% !important;	
}
.worker_page_wrapper .custom_table_filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.worker_page_wrapper .dataTables_filter label{
display:block;
width:100% !important;	
}
.worker_page_wrapper div.dataTables_wrapper div.dataTables_filter input{
 width:100% !important;	
}
div.dataTables_wrapper div.dataTables_filter input{
z-index:22;	
}
.worker_page_wrapper .custom_table_filter {
    width: 100%;
    left: 0;
}
.custom_table_filter{
    width: 100%;
    left: 0;
    padding-left: 0;
    top: 0;
    position: relative;
}
.custom_table_filter.all-workers-custom-filter {
    width: 100%;
    left: 0;
    padding-left: 0;
    top: 0;
    position: relative;
}	
#datatable-worklog_wrapper .dt-buttons, #datatable_wrapper .dt-buttons {
    position: static;
    right: 0;
}
.strike-table-wrapper table {
    display: block !important;
	overflow:auto;
}
.log-report-filter-wrapper {
    display: block;
}
.log-reports-modify-search-wrap{
 display:block;	
}
}

@media (max-width:1024px){
.subcon-project-schedule-wrap .power-row-repeat {
    flex-wrap: nowrap !important;
} 	
.manpower-project-repeat-wrapper .manpower-table-heading-row{
display:flex !important;	
}
.project-sift-inner-repeat{
 /*min-width:1024px;*/
}
.manpower-project-repeat-wrapper{
overflow-x:auto;	
}
.manpower-project-repeat-wrapper .power-row-repeat .step-one{
padding:0 10px !important;
width:25% !important;	
}

  .dashboard-block label{
	font-size:13px; 
  }
  
 .custom_table_filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 122px;
  }
  #update-profile-image .btn-info{
    margin:5px 0;	  
  }
  .dashboard-block-value {
    font-size: 37px;
    font-weight: bolder;
    margin: 0 0 13px;
}
.dashboard-block{
 height:187px;	
}
    .table-responsive{
        /*display:block !important;*/
        margin:0 auto;   
    } 
	.payroll-excel-report-table-wrapper table{
	 display:table !important;	
	}
	
    .pagination-wrap .entries.float-right{
     float:none !important;    
    }
   .table thead th{
    width:50% !important;  
   }
   .payroll-excel-report-table-wrapper table thead th{
	width:auto !important;   
   }
   .payroll-excel-report-table-wrapper th:first-child, .payroll-excel-report-table-wrapper th:nth-child(2) {
    left:auto !important;
  }
  
   .payroll-excel-report-table-wrapper td:first-child, .payroll-excel-report-table-wrapper td:nth-child(2){
	position:static !important;
    width:auto !important;	
   }
   .table-action{
    width:118px;  
   }  
  .table_responsive_wrapper{
   overflow:hidden;
   overflow-x:auto;     
  }  
  .table_responsive_wrapper .table-responsive{
   min-width:500px;
   display:table !important;
   overflow:visible !important;      
  }
  .table_responsive_wrapper .table thead th{
   width:auto !important;   
  }
  .table_responsive_wrapper .table-responsive .permission-actions a, .table_responsive_wrapper .table-responsive .permission-actions a:hover{
    font-size: 16px;
  }
 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 172px;
}
div#datatable-worklog_wrapper {
    overflow-x: auto;
}
.profile-img{
width:165px !important;	
}
}

@media (max-width:991px){
.power-row-repeat{
flex-wrap:wrap;	
}
.manpower-table-heading-row{
display:none !important;	
}
.manpower-view-table-holder {
    width: 100%;
    overflow-x: auto;
}
ul.view-power-list-wrap {
    width: 1024px;
}
.power-row-repeat .step-one {
    width: 50% !important;
    padding: 0 10px 0 0px;
    margin: 7px 0;
}

.view-manpower-page-wrapper .step-one{
 width:100% !important;	
}
.power-row-repeat .for-label-wrap{
 width:100% !important;	
}
.power-row-repeat .step-one.add-power-row-wrap {
    width: auto !important;
}
	
.dashboard-block {
    height: 136px;
}
.worker_page_wrapper .custom_table_filter {
    width: 100%;
    left: 0;
}
.list_scroll_wrap { 
    max-height: unset;
    margin: 0 0 10px;
    position: fixed;
    width: 250px;
    right:-110%;
    z-index: 55;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    transition:0.3s; 
    background:#fff; 
}
.list_scroll_wrapshow{
 right:0px;
 transition:0.3s;    
}
.open_list_mobile {
    display: block;
    font-size: 24px;
    background: #fff;
    width: 42px;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    margin: 0 0 13px;
    color: #214688;
}
.open_list_mobile .fa-bars.fa-times{
 color:#ec7922;    
} 
.custom_table_filter {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 55;
    margin-bottom: 5px;
}
.table thead th{
     font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: text-bottom;   
}  
.allow-manul-wrap{
margin-top:0px !important;
margin-bottom:20px;	
}
.manpower-project-list-wrap{
height:auto;
margin:0 0 15px;
min-height:auto;	
}
.project-tab-wrap .tab-inner-wrap{
 margin-bottom:12px; 
}


.tab-inner-wrap span{
 width:auto;	
}
.project-tab-wrap .tab-inner-wrap{
 display:block;	
}

.tab-inner-wrap span {
    display: block;
    padding: 10px 10px;
    margin: 5px 5px 0 0;
    width: auto;
    float: left;
    font-size: 11px;
    min-width: auto;
    border:0px; 
}
.custom_table_filter.all-workers-custom-filter {
    width: 100%;
    left: 0;
    padding-left: 0;
    display: block;
}
input.dt-button.buttons-csv.buttons-html5 {
    position: relative;
    top: 0;
    margin: 10px 0;
}
.profile-img{
width:200px !important;	
}
.log-report-filter-wrapper .dropdown {
    margin: 0px 8px 7px 0 !important;
}
}
@media all and (-ms-high-contrast:none){
   .login_holder_wrapper{
    height:100vh;  
   }
}
table{
width:100% !important;
}

@media (max-width:767px){
.resource-innter-text h1 .rcrs-name-wrap{
width:65%;	
}	
.resource-innter-text h1.back-btn-text {
    width: 30%;
}
.manprowe-page-wrap textarea.specialnotes {
    position: relative;
    right: 0;
    top: 0;
    min-height: 120px;
    width: 100%;
    margin: 0 0 3px;
}
.resource-innter-text h1 span{
display:block;
margin:5px 0 0;	
}
	.tab-inner-wrap span {
    display: block;
    padding: 10px 10px;
    margin: 5px 5px 0 0;
    width: 48%;
    float: left;
    font-size: 11px;
    min-width: auto;
}
main.resource-front-page-wrap .container {
    padding: 0;
}
.resource-listing-wrap li a{
min-width:auto;
padding:8px 0px;
min-height:auto;	
}	
.manpower-filter-wrap .col-md-3 {
    margin: 5px 0;
}
.resource-innter-text h1{
font-size:17px;	
}
.copy-button-wrap {
    position: absolute;
    margin: 0 0 16px 0;
    top: -47px;
}
.manprowe-page-wrap{
 padding:0px;	
}
.manpower-date-wrap{
font-size:10px;	
}
.manpower-date-wrap p{
font-size:10px;	
}
.power-row-repeat .step-one {
    width: 100% !important;
    padding: 0 10px 0 0px;
    margin: 7px 0;
}

.power-row-repeat .step-one.add-power-row-wrap {
    width: auto !important;
}
.manpower-top-btn-wrap .btn, .man-power-button-wrapper .btn {
    padding: 11px 16px;
    font-size: 13px;
}
.next-prev-navigation{
 position:static;
    margin-top: 8px;
    margin-right: 5px; 
}
.dashboard-block {
    height: 200px;
}
a.report-alert{
display:none !important;	
}
.approve-reject-container {
    position: relative !important;
    top: 7px !important;
}
.profile_image_cropper{
 left:27px !important;	
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item{
 font-size:8px;     
}    
.sidebar{
  display:none;    
}
.dataTables_length select, .dataTables_length select:focus{
  width:100% !important;    
}
div.dataTables_wrapper div.dataTables_info {
    font-size: 13px;
    text-align: center;
    margin: 8px 0 0 0;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 13px 0;
    justify-content: center !important;
}
.table thead th, .table thead td{
  font-size:9px !important; 
  vertical-align: top;   
}
td.dataTables_empty{
 font-size:11px;     
}
.worker_name_td p:first-child{
 font-size:11px;    
}
.worker_name_td p{
  font-size:10px;
  line-height:13px;    
}
.status_active{
 font-size:11px;   
 padding:3px 10px;   
}
#datatable_wrapper .dataTables_length select{
  width:100% !important;    
}
div.dataTables_wrapper div.dataTables_info {
    font-size: 11px;
	display:none;
}
ul.pagination li {
    font-size: 11px;
}
div.dataTables_wrapper div.dataTables_filter label{
 width:100%;    
}
div.dataTables_wrapper div.dataTables_filter input{
  width:100% !important;   
}
.dataTables_length label{
  width:100% !important;    
} 
.sidebar-toggled .sidebar {
    display: block;
    width: 7.5rem !important;
}
.sidebar .nav-item .collapse{
position:static;
width:100%;
border-radius:0px;       
}
.sidebar .nav-item .collapse .collapse-inner, .sidebar .nav-item .collapsing .collapse-inner {
    padding: .5rem 0;
    min-width: 100%;
    font-size: 10px;
    margin: 0 0 1rem 0;
    border-radius: 0px !important;
    text-align:center; 
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: .5rem 2px;
    text-align:center; 
    margin: 0 .2rem;
}
.pagination{
 margin:10px 0;      
}
.sidebar .nav-item .nav-link{
width:100%;     
}
.company_edit .dropdown button a{
 width: 30px;
 height: 30px;
 font-size:17px;   
}
.company_edit .dropdown button, .company_edit .dropdown button:focus {
    padding: 0px;
    margin: 0px 4px;
    box-shadow: none;
    outline: none;
}
footer.sticky-footer .copyright{
  font-size:12px;     
}
input.form-control, select.form-control, textarea.form-control{
 font-size:12px;     
}
.d-sm-flex.align-items-center.justify-content-between.mb-4 {
    display: flex;
}
a.back-link{
 font-size:11px;     
}
h1.text-gray-800{
 font-size:12px;     
}
.h6, h6 {
    font-size: 14px;
}
.sidebar-dark.toggled .sidebar-heading {
    font-size: 8px;
}
.sidebar .nav-item .nav-link span {
 font-size:9px;    
}
#wrapper #content-wrapper{
 min-height: 100vh;   
}
.custom_table_filter{
 display:block;    
}
.custom_table_filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}
.custom_table_filter input, .custom_table_filter input:focus {
    width: 100%;
    margin: 4px 0px;
    border-bottom: 1px solid #ddd;
	border-radius:0px !important;
}
.dataTables_length{
 display:none;
}
.icons-guide-container{
    position: relative;
}
.icons-guide-container div{        
     margin-right: 10px;
}
#datatable-worklog_wrapper .dt-buttons button, #datatable_wrapper .dt-buttons button{
    padding: 5px 14px;
}
.pagination{
    display: block;
}
ul.pagination li{
    display: inline-block;
}
.sift-flex-wrap{
justify-content:flex-start;	
}
.schedule-project-row .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
 width:100% !important;	
}
ul.log-list-flex li b{
 font-size:11px;	
}
ul.log-list-flex li span{
 font-size:11px;	
}
.d-sm-flex.align-items-center.justify-content-between.mb-4.super-project-top-head-hold {
    flex-direction: column;
	    align-items: flex-start !important;
}
.super-project-top-head-hold #date-filter{
 width:100% !important;
 position:static !important;
 margin-bottom:12px; 
}
.super-project-top-head-hold .super-project-export-logs{
    right: 25px !important;
    top: 116px !important;
    border: 0px !important;
    padding: 15px 10px !important;	
}
.super-project-top-head-hold h1.text-gray-800{
 margin-bottom:8px !important;	
}
.super-projecr-next-prev-navigation{
position:absolute;
right:7px;
top:10px;	
}
.next-prev-navigation.super-projecr-next-prev-navigation a{
 font-size:12px; 
}
.icons-guide-container{
bottom:0px !important;	
}
.icons-guide-container div {
    display: block;
    margin: 5px 0;
    padding: 0;
}
.logs-position-wrap{
 position:static;	
}
.send-all-email-pre-wrap a{
width:100%;
text-align:center;	
}
.position-absolute-wrap {
    position: static;
    margin: 53px 0 0;
}
.emails-buttons-flex-wrap{
display:block;	
}
.send-email-pre-wrap a{
width:100%;	
text-align:center;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    padding: 5px;
    font-size: 13px;
}
.manpower-filter-wrap .col-md-4 input {
    margin-bottom: 5px;
}
.col-md-3.sift-flex-wrap{
    margin-top: 9px;
}
.log-reports-text-wrapper .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
margin:0px;	
}
#datatable-worklog_wrapper .dt-buttons, #datatable_wrapper .dt-buttons {
    position: static;
    right: 0;
}
.log-report-filter-wrapper .dropdown, .log-report-filter-wrapper input {
    margin: 0px 8px 7px 0 !important;
	width:100% !important;
}
.log-reports-modify-search-wrap span {
    margin: 3px 0px;
    display: block;
    font-size: 14px;
}
.log-reports-modify-search-wrap .user-reset-filter{
margin-left:0px;	
}
}

@media (max-width:480px){
 .p-5 {
    padding: 15px !important;
}
.bg-gradient-primary .container .container{
 padding:0px !important;    
}   
}
@media (max-width:375px){
.manpower-date-wrap{
    position: relative;
    left: 13px;	
}	
}

/* 07-April-2020*/
.profile-img {
    text-align: left;
    width: 200px;
    display: table;
    margin: 30px auto;
    height: 250px;
    border: 3.5px solid #1c5692;
	    background-repeat: no-repeat !important;
}
.profile-img img{width: auto;display:table;margin:0 auto;height:215px;}
.user-bio-section {
    padding: 20px 20px 20px 0;
    position: relative;
}
.user-bio-section .form-group label {
    display: none;
}
p.businesses_view_text.user-profile-name {
    font-size: 28px;
    font-weight: 800;
    margin: 0;
    text-transform: capitalize;
    color: #1c5692;
}
.user-bio-section .form-group {
    margin: 0;
}
p.businesses_view_text.sub-contrsct-name {
    margin: 0;
    color: #103459;
    font-weight: 400;
    font-size: 15px;
}
p.businesses_view_text.sub-contrsct-name span {
    font-weight: 800;
}
p.bio-heading {
    margin: 15px 0 8px;
    color: #000;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.bio-section p.businesses_view_text {
    margin-bottom: 2px;
    font-size: 15px;
}
.bio-section p.businesses_view_text span,
span.worker-pdf {
    font-weight: 900;
    color: #377cc1;
    font-size: 18px;
    margin-right: 6px;
    vertical-align: middle;
}
a.download-icon {
    color: #858796;
}
.user-bio-section .bio-section .form-group {
    margin: 0 0 10px;
}
.punch-in-time,
.punch-out-time {
    text-align: center;
    width: 100% !important;
}
table#datatable-worklog img.log-icon,
table#datatable img.log-icon{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.worker-note {
    padding: 0 20px;
}
.worker-note span {
    color: #377cc1;
    font-size: 17px;
    font-weight: 800;
    margin-right: 5px;
}
.bio-section {
    margin-top: 30px;
}

.approve-reject-container label{
    text-align: right;
}
.approve-reject-container a.approve-worker,
.approve-reject-container a.reject-worker{
    display: inline-block;
}
.additional-document-element .form-group {
    margin-bottom: 7px;
}
.billboard-points-col {
    background: #add8e6;
    padding: 0;
    position: relative;
    color: #000;
    border: 10px solid #add8e6;
}
.billboard-inner {
    padding: 20px;
    border: 2px solid #fff;
}
.billboard-points-col h1.text-gray-800 {
    color: #000000 !important;
    padding: 10px 10px 0;
    text-align: center;
    width: 100%;
}
.billboard-points-col ol li,
.billboard-points-col ol li a {
    color: #fff;
}
.pdf-column {
    margin-bottom: 20px;
}
.edit-punch-in-time,
.edit-punch-out-time{
    margin: 5px auto 0;
}


@media (min-width:1500px){
	
	
    .bio-section p.businesses_view_text,
    a.download-icon {
        font-size: 20px;
    }
    .bio-section p.businesses_view_text span, span.worker-pdf {
    font-size: 19px;
    font-weight: 600;
}
}


@media (max-width:1440px){
.switch_wrap .switch {
    margin-right: 43px !important;
}	
}

@media (max-width:1366px){
.col-md-12.additional-notedoc-element .col-md-6, .col-md-6.small_textarea{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%;	
}	
}
@media (max-width:1280px){
p.visible_text{
font-size:10px !important;	
}	
}

@media (max-width:1024px){
p.visible_text{
font-size:8px !important;	
}
.switch_wrap .switch {
    margin-right: 9px !important;
}
.updated_doc_wrp{
 display:none;	
}
label.doc_label.label_for_mobile {
    display: block;
    font-size: 15px;
    color: #000;
}	
}


@media (max-width:767px){
  
    .user-bio-section {
        padding: 0px 20px 20px 20px;
    }
	
  .col-md-12.additional-notedoc-element, .col-md-12.add_doc_first_row{
	display:block !important;  
  }	
  .col-md-12.additional-notedoc-element .col-md-6, .col-md-6.small_textarea {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
input.form-control.doc-field {
    margin: 12px 0;
}
p.visible_text {
    font-size: 13px !important;
}
.switch_wrap .switch{
float:none !important;	
}

.additional-notedoc-element a.document-close {
    right: 24px;
    bottom: 13px;
    left: auto;
    top: auto;
}

.additional-notedoc-element i.fa.fa-times.close-document-button {
    position:static;
}
.worker-container .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
}

.loggreen {
    color: #097d09;
}
.loggreen span, .logred span{
   font-weight:bold !important;  
}
.logred {
    color: #ff0000;
}


/***loader css****/
.email-submit-loader-main {
    position: absolute;
    top: 0;
    z-index: 999999;
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    display:none;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    color: #103359;
}
.email-submit-loader-main.show-loader{
   display:flex;  
}

.dt-button.buttons-csv.buttons-html5 {
    position: absolute;
    right: 0;
    line-height: 15px;
    color: #fff !important;
    background: #103359;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 5px !important;
    display: inline-block;
    font-size: 15px;
    /* position: relative; */
    top: -2px;
    border-radius: 5px;
    width: auto;
}